footer {
  display: flex;
  padding: 5vw;
  background: #000;
  color: #fff;
  font-size: 2vw;
  address {
    font-size: 1.9vw;
  }
  .footer-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    
  }
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: auto;
    padding: 1rem;
    h4 {
      font-size: 4vw;
      padding: 1vw;
    }
    address {
      font-size: 4vw;
    }
  }
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 999; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #E27F2A; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  
}
