footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 5vw;
  background: #000;
  color: #fff;
  font-size: 2vw;
  address {
    font-size: 1.9vw;
  }
  .footer-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    height: auto;
    padding: 1rem;
    h4 {
      font-size: 5vw;
      padding: 1vw;
    }
    address {
      font-size: 4vw;
    }
  }
}
