.tests {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  padding: 10vw 15vw;
  gap: 3vw;
  .tests-card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      max-width: 100%;
      
      
    }
    h4 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 2.5vw;
      background-color: white;
      color: #000;
      transition: all 0.1s ease-in-out;
      &:hover {
        color: #ffa513;
      }
    }
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    .tests-card {
      &:hover {
        transform: none;
      }
      h4 {
        font-size: 3.5vw;
      }
    }
  }
}
